<div id="content">
  <div id="title-main">
    <%= render "shared/team_header"%>
  </div>
  <div id="main-bar">
    <div class="project-text">
      <h1>About This Project</h1>
      <p><%= @team.name %></p>
    </div>
    <ul id="app-nav">
      <li><%= link_to 'Home', @team %></li>
      <li><%= link_to 'People', team_people_path(@team.hypen_name) %></li>
    </ul>
    <div id="feed-wrapper">
      <div id="activity-feed">
        <% @team.team_members.each do |team_member| %>
          <div class="feed-item">
            <%= image_tag team_member.user.avatar_url %>
              <span class="comment-user">
                <%=link_to team_member.user.person.name, person_path(team_member.user.person)%>
              </span>
              <span class="team-member-role">Team Role: <span><%=team_member.admin? ? 'Ambassador' : 'Supporter'%></span></span>
              <span class="team-people-tags">Tags: 
                <span>
                  <%=team_member.user.person.skill_list.empty? ? 'none' : team_member.user.person.skill_list.join(', ') %>
                </span>
              </span>
            <% if current_user and (@team.admin?(current_user) or current_user.admin?) %>
              <span class="comment-stamp"><%= link_to "#{team_member.admin? ? 'Make Supporter' : 'Make Ambassador'}", team_member_path(team_member), :method => :put %><span>
            <% end %>
          </div>
        <% end %>
        <div style="clear:both; height:0;"></div>
      </div>
    </div>
  </div>

  <div id="side-bar">
      <%= render :partial => "metric"%>
      <%= render :partial => "organizers"%>
      <%= render :partial => "supporters"%>
  </div>
</div>

