<div id="content">
  <div id="title-main">
    <%= render "shared/app_header"%>
  </div>
  <div id="main-bar">
    <div class="project-text">
      <h1>About This Project</h1>
      <p><%= @team.app.description %></p>
    </div>
    <ul id="app-nav">
      <li><%= link_to 'Home', @team %></li>
      <li><%= link_to 'People', team_people_path(@team.name) %></li>
      <li><%= link_to 'Guide', team_guide_path(@team.name) %></li>      
    </ul>
    <div id="feed-wrapper">
      <div id="activity-feed">
        <% @team.team_members.each do |team_member| %>
          <div class="feed-item">
            <%= image_tag team_member.user.avatar_url %>
              <span class="comment-user">
                <%=link_to team_member.user.person.name, person_path(team_member.user.person)%>
              </span>
              <span class="team-member-role">Team Role: <span><%=team_member.team_role%></span></span>
              <span class="team-people-tags">Tags: 
                <span>
                  <%=team_member.user.person.skill_list.empty? ? 'none' : team_member.user.person.skill_list.join(', ') %>
                </span>
              </span>
            <% if @team.admin? current_user %>
              <span class="comment-stamp"><%= link_to 'Make Admin', '/team_member/update/later' %><span>
            <% end %>
          </div>
        <% end %>
        <div style="clear:both; height:0;"></div>
      </div>
    </div>
  </div>

  <div id="side-bar">
    <% if @team.team_type == 'core' %>
      <%= render :partial => "core_metric"%>
      <%= render :partial => "core_team"%>
      <%= render :partial => "implementations"%>
    <% else %>
      <%= render :partial => "metric"%>
      <%= render :partial => "organizers"%>
      <%= render :partial => "supporters"%>
    <% end %>
  </div>
</div>

