<div id="content">
  <div id="title-main">
    <%= render :partial => 'shared/team_header'%>
  </div>
  <div class="clear">
    <% if current_user%>
        <%= render :partial => "metric"%>
    <% else %>
    <%= render 'authentications/signin_and_join_team'%>
    <% end %>

    </div>
  <div id="main-bar">
    <div class="project-text">
      <h1>Team</h1>
    </div>
    <ul id="app-nav">
      <li><%= link_to 'Home', @team %></li>
      <li><%= link_to 'People', team_people_path(@team.hypen_name) %></li>
    </ul>

    <%= render :partial => 'activity_stream' %>

  </div>

  <div id="side-bar">

      <%= render :partial => "organizers"%>
      <%= render :partial => "supporters"%>
    <% if current_user.try(:admin?) %>
    <%= render :partial => 'admin'%>
    <% end %>
  </div>
</div>

