<div id="content">
  <div id="title-main">
    <div id="app-image">
        <%= image_tag @team.app.photo.url, :id => 'app-photo', :class => 'main-visual' %>
    </div>
    <h1 class="app-name">  <%= @team.app.name %> </h1>
    <div class="title-content">
      <% unless @team.team_type == 'core' %>
        <h2><%=@team.region.city%>, <%=@team.region.state%></h2>
      <% end%>
      <h2>Organized by <% @team.team_members.where(:team_role => 'organizer').each do |organizer|%>
        <%=link_to organizer.user.person.name, organizer.user.person %>
        <%end%>
        </h2>
    </div></div>
  <div id="main-bar">
    <div class="project-text">
      <h1>About This Project</h1>
      <p><%= @team.app.description %></p>
    </div>
    <ul id="app-nav">
      <li><%= link_to 'Home', @team %></li>
      <li><%= link_to 'People', teams_people_path(@team.name) %></li>
    </ul>
    

    <%= render :partial => 'activity_stream' %>

  </div>

  <div id="side-bar">
    <% if @team.team_type == 'core' %>
      <%= render :partial => "core_metric"%>
      <%= render :partial => "core_team"%>
      <%= render :partial => "implementations"%>
    <% else %>
      <%= render :partial => "metric"%>
      <%= render :partial => "organizers"%>
      <%= render :partial => "supporters"%>
    <% end %>
  </div>
</div>

