<div id="content">
  <div id="title-main">
        <%= render "shared/app_header"%>
  </div>
  <div id="main-bar">
    <div class="project-text">
      <h1>About This Project</h1>
      <p><%= @team.app.description %></p>
    </div>
    <ul id="app-nav">
      <li><%= link_to 'Home', @team %></li>
      <li><%= link_to 'People', team_people_path(@team.name) %></li>
    </ul>

    <%= render :partial => 'activity_stream' %>

  </div>

  <div id="side-bar">
    <% if @team.team_type == 'core' %>
      <%= render :partial => "core_metric"%>
      <%= render :partial => "core_team"%>
      <%= render :partial => "implementations"%>
    <% else %>
      <%= render :partial => "metric"%>
      <%= render :partial => "organizers"%>
      <%= render :partial => "supporters"%>
    <% end %>
  </div>
</div>

