<div id="content">
  <div id="title-main">
    <%= render "shared/app_header"%>
  </div>
    <div id="guide-side-bar">
      <%= render "guide_sidebar"%>
    </div>
    <div id="guide-main-bar">
        <%= link_to "edit", team_milestone_edit_path(@team.name, @milestone.id)%>
          <h2>Milestone: <%=@milestone.name%></h2>
          <p><%= @milestone.description%></p>
          <h3> Steps </h3>
          <ul>
          <% @milestone.steps.each do |step| %>
            <li id="step<%= @milestone.id %>" class="milestone">
              <%= step.name %> 
            </li>
          <% end %>
        </ul>
    </div>
</div>

