<% form_for(@person, :html => {:multipart => true}) do |f| %>
    <p><%= f.label :name, "Name" %><br>
    <%= f.text_field :name, :value => current_user.authentications.first.info[:name] %></p>
    <p><%= f.label :location, "Region" %><br>
    <%= select :person, :location, 
    Region.all.map { |x| ["#{x.city}, #{x.state}", x.id]} %></p>
    <p><%= f.label :website, "Website" %><br>
    <%= f.text_field :url, :label => 'Website' %></p>
    <p><%= f.label :tag_list, "Tag List" %><br>
    <%= f.text_field :tag_list, :input_html => {:class => 'tags'}%></p>
    <p><%= f.label :bio, "Bio" %><br>
    <%= f.text_area :bio, :value => current_user.authentications.first.info[:description]%></p>
    <p><%= current_user.authentications.first.info[:image].present? ? image_tag(current_user.authentications.first.info[:image], :size => '220') : "We can't seem to find a photo for you" %></p>
    <p><%= f.label :photo_import_url, "Import a photo from the web…" %><%=f.text_field :photo_import_url, :value => current_user.authentications.first.info[:image] %>
    </p>
    <p><%= f.label :photo, "…or upload one from your computer." %><br>
	<div class="fileinputs">
      <%= f.file_field :photo, :id => "person_photo_upload" %>
	  <div class="fakefile">
		<input />
		<img src="/images/person_photo_upload_img.png" />
		</div>
	</div>
    </p>  
  <%=f.submit%>
<% end %>
