<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Update Your Photo</div>
    <div class="sidebar_box_content ">
        <% semantic_form_for(@person, :html => {:multipart => true}) do |f| %>
          <% f.inputs :name => "Photo" do %>
           <% if photo_url = @person.photo_import_url || (@person.photo.file? && @person.photo.url(:medium)) %>
            <li>
              <%= image_tag photo_url%>
            </li>
          <% end %>
            <li>
              <%=f.input :photo_import_url, :label => "Import a photo from the web…"%>
              <%= f.input :photo, :label => "…or upload one from your computer.", :hint => "Preferably 220px wide or larger"%>
            </li>
          <% end %>
          <%=hidden_field_tag :form_context, :review%>
          <%=f.buttons%>
        <% end %>
      <div class="clear"></div>
    </div>
</div>

