<h1>Listing people</h1>

<ul>

<% @people.each do |person| %>
  <li><%= person.picture %>
  <span class="location"><%= person.location %></span>
  <span class="crud-links"><%= link_to 'Show', person %> <%= link_to 'Edit', edit_person_path(person) %> <%= link_to 'Delete', person, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Person', new_person_path %>
