<% content_for(:page_heading) do %>
  <div id="page-heading">
    <h1>
      People
    </h1>
  </div>
<% end %>
<div id="sidebar" class="sidebar_box">
    <h2 class="sidebar_box_title">Filter by:</h2>
    <div class="sidebar_box_content">
    <ul id="active-filters">
    </ul>
    <div id="remaining-filters">
        <div id="location-filter">
            <h3>Location:</h3>
              <select name="region" id="region" size="1">
              <% Region.all.each do |region| %>
                <option value="<%=region_name_underscored(region)%>" data-filter=".<%=region_name_underscored(region)%>"><%=region.city%>, <%=region.state%></option>              
              <% end %>    
              </select>
        </div>
        <div id="skill-filter">
            <h3>Skills:</h3>
            <ul>
              <% get_skills.each do |skill|%>
              <li><a href="#" data-filter=".<%=skill.gsub(".", "_").gsub(" ", "_")%>"><%=skill%></a></li>
              <% end %>
            </ul>
            <span>Other skills:</span>
            <!-- autocomplete text box and submit button goes here  -->
        </div>
    </div>
    </div>
</div>
</div>

<div id="people-list">
<%= render :partial => 'list' %>
</div>
<script type="text/javascript" charset="utf-8">
var selector_string = '';

$('#people-list').isotope({
  // options
  itemSelector : '.front-box',
  layoutMode : 'fitRows'
});

$('#skill-filter a').live('click', function(){
  var selector = $(this).attr('data-filter');
  selector_string += selector;
  $('#people-list').isotope({ filter: selector_string });
  $('#active-filters').append($('<li class="active-filter"><a href="#" data-filter="'+$(this).attr('data-filter')+'"><img src="/images/target-icon.png" class="removal-icon" alt="remove" /></a><span>'+$(this).html()+'</span></li>'));
  $(this).remove();
  return false;
});

$('#location-filter select').select(function(){
  var selector = $(this).attr('data-filter');
  selector_string += selector;
  $('#people-list').isotope({ filter: selector_string });
  return false;
});

$('#active-filters li a').live('click', function(ev) {
  var $theEl = $(this);
  console.log($theEl.attr('data-filter'));
  selector_string = selector_string.replace($theEl.attr('data-filter'), '','gi');
  console.log(selector_string);
  $('#people-list').isotope({ filter: selector_string });
  $('#skill-filter ul').append($('<li><a href="#" data-filter="'+$theEl.attr('data-filter')+'">'+$theEl.next('span').html()+'</a></li>'));
  $theEl.parent().remove();
  return false;
});
</script>
