<div class="single_record person with_image">
  <%= link_to image_tag(@person.photo.url(:medium), :class => 'person_photo'), photo_person_path(@person) %>
  <h1><%= @person.name %></h1>
  <% if current_user && @person.user.blank? && current_person.nil? %>
    <div id="claim_user">
      <p><%= "Are you #{@person.name}?" %></p>
      <%= link_to "Claim this person", claim_person_path(@person), :class => 'claim' %>
    </div>
  <% end %>
  <% if @person.user.admin? %>
    Code for America Admin
  <% end %>  
  <% if @person.user.region %>
    <div class="location"><%= "#{@person.user.region.city}, #{@person.user.region.state}" %></div>
  <% end %>
  <% if @person.bio.present? %>
    <div class="bio"><%= simple_format @person.bio %></div>
  <% end %>
  <div class="links">
    <% if @person.url.present? %>
      <%= link_to( normalize_url(@person.url), normalize_url(@person.url), :class => 'url') if @person.url.present? %>
    <% end %>
  </div>
  <% if @person.tags.present? %>
    <div class="section tags">
      <h2> Tags </h2>
      <%= render :partial => 'tags/list', :object => @person.tags, :locals => {:type => :person} %>
    </div>
  <% end %>

  <% if @person.technologies.present? %>
    <div class="section technologies">
      <h2> Technologies </h2>
      <%= render :partial => 'tags/list', :object => @person.technologies, :locals => {:type => :person} %>
    </div>
  <% end %>
  <% if current_user.person == @person %>
  <div class="authentications">
  <%= render :partial => 'authentications/add_auth_form' %>
  </div>
  <% end %>
  
  <div class="record_actions">
    <% if current_user && (current_user.admin? || current_user.person == @person) %>
      <%= link_to 'Edit', edit_person_path(@person), :class => 'edit' %>
      <%= link_to "Delete", person_path(@person), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
    <% end %>
  </div>
  
  <h1>Teams</h1>
  <ul id="front-list" class="main-list-type">
    <%= render :partial => 'team_list', :collection => @person.user.teams %>
  </ul>
  
</div>
