%h1 Join This Team
= form_for SignInData.new, :url => user_sessions_path do |f|

  .fieldset
    .clearfix
      = f.label :email, "Email Address"
      .input
        = f.text_field :email, :size => nil, :autocorrect => "off", :autocapitalize => "off"
    .clearfix
      = f.label :provider, "Social Network Provider"
      = hidden_field_tag :join_team_id, @team.id
      .input
        = select :sign_in_data, :provider, Authentication::PROVIDER_OPTIONS

  = f.submit "Sign in!", :id => "guide_submit", :class => "btn primary"


