<div id="welcome">
  <h1><%= "Hi #{@name.split(' ').first}!" %></h1>
  <% if @possible_duplicates.present? %>
    <div id="possible_duplicates">
      <h2> Might this be you? </h2>
      <p class="hint">
        It looks like someone may have already added you to <%= SETTINGS['organization']['name'] %>.
        <%= @possible_duplicates.size == 1 ? 'Is this you?' : 'Are you any of these people?' %>
      </p>
      <%= render :partial => 'people/list', :object => @possible_duplicates, :locals => {:context => :claim} %>
    </div>
  <% end %>
  <div id="add_yourself">
    <% if @person.new_record? %>
      <h2> Add yourself to <%= SETTINGS['organization']['name'] %></h2>
      <p><%= "We imported as much info as we could from your #{provider_name(current_user.authentications.first.provider)} account. Look it over and hit the big button to get started."%></p>
    <% else %>
      <h2> Review your details </h2>
      <p><%= "You were already in the directory! Please review your details and let us know they're right." %>
    <% end %>
    <% if @person.new_record? %>
      <%= render :partial => 'people/new_form', :locals => {:context => :add_self} %>
    <% else %>
      <%= render :partial => 'authentications/add_auth_form' %>
      <%= render :partial => 'people/form', :locals => {:context => :review} %>
      <div class="record_actions">
        <% if current_user && (current_user.admin? || current_user.person == @person) %>
          <%= link_to "Delete", person_path(@person), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
