%footer.footer
  .container
    %ul
      %li
        = link_to 'About', about_path
      %li
        = link_to 'Blog', blog_path
      %li
        = link_to 'API', api_path
      %li
        = link_to 'Contact', contact_path
      %li
        = link_to 'Terms', terms_path
      %li
        = link_to 'Privacy', privacy_path

    %p
      Powered by
      = link_to 'Citizenry', 'http://github.com/reidab/citizenry/'

    %p
      Created as Open Source by <a href="#">Code for America</a>
      %q For a more transparent, efficient, and participatory future.
      <a href="http://codeforamerica.org" id="cfa-logo"><img src="assets/cfa-full-logo.png"></a>
