<div id="footer"> 
  <div class="body-wrapper">
    <ul id="footer-links">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
        <li><%= link_to 'API', api_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Terms', terms_path %></li>
        <li><%= link_to 'Privacy', privacy_path %></li>
    </ul>
    <p id="props">
      Powered by <%= link_to 'Citizenry', 'http://github.com/reidab/citizenry/' %>.
    </p>
    <p id="maker">
      Created as Open Source by 
      <a href="#">Code for America</a>
    </p>
    <q>For a more transparent, efficient, and participatory future.</q>
    <a href="http://codeforamerica.org" id="cfa-logo"><img src="/images/cfa-full-logo.png"></a>
  </div>
 <div class="background_bar"></div>

</div>
