%footer
  %ul
    %li
      = link_to 'About', about_path
      = link_to 'Blog', blog_path
      = link_to 'API', api_path
      = link_to 'Contact', contact_path
      = link_to 'Terms', terms_path
      = link_to 'Privacy', privacy_path

  %p
    Powered by
    = link_to 'Citizenry', 'http://github.com/reidab/citizenry/'

  %p
    Created as Open Source by <a href="#">Code for America</a>
    %q For a more transparent, efficient, and participatory future.
    <a href="http://codeforamerica.org" id="cfa-logo"><img src="assets/cfa-full-logo.png"></a>
