<% @team.app.milestones.group_by(&:goal).each do |key, value| %>
  <ul class="group">
    <li>
    <h3 id="group_<%= key %>">
      <%= truncate(goal_name(key), :length => 35, :separator => ' ') %>
    </h3>
    <div>
      <ul>
        <% value.each do |milestone| %>
          <li  class="milestone">
          <h4 id="milestone_<%= milestone.id %>">
            <%= link_to truncate(milestone.name, :length => 35, :separator => ' '), team_milestone_path(@team.name, milestone.id) %>
          </h4>
          <div>
            <ol>
              <% milestone.steps.each do |step| %>
                <li id="step_<%= step.id %>" class="step<% if (@step.id == step.id) %> opened<% end %>">
                <h5>
                  <%=link_to truncate(step.name, :length => 35, :separator => ' '), team_step_path(@team.name, step)%>
                </h5>
                </li>
              <% end %>
            </ol>
            <%= link_to "Add a Step", team_step_new_path(@team.name, :milestone => milestone)%>
          </div>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a Milestone", team_milestone_new_path(@team.name, :goal => key)%> 
    </div>
    </li>
  </ul>
<% end %>

<script>
  jQuery(document).ready(function(){
    // Load the state of the guide table of contents from the browser cookie
    var collapsed_milestones = $.parseJSON($.cookie('geek_corps_toc'));
    console.log(collapsed_milestones);
    if (collapsed_milestones != null) {
      for (var i = 0; i<collapsed_milestones.length; i++) {
        $('#'+collapsed_milestones[i]).addClass('collapsed').next().hide();
      }
    }

    // Handler for animating the table of contents and storing the state in a cookie
    $('h3,h4').click(function(e) {
      var closed = [];
      if (e.target.tagName != 'A') {
        $(this).toggleClass('collapsed');
        $(this).next().slideToggle('slow', function() {
          $('h3.collapsed, h4.collapsed').each(function(idx, el) {
            closed.push(el.id);
          });
          $.cookie('geek_corps_toc', JSON.stringify(closed), {path: '/'});
        });
      }
//      return false;
    });
  });
</script>
