.topbar-wrapper{:style => "z-index: 5;"}
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %h3
          =link_to 'Civic Corps', root_path
        %ul.nav
          %li
            = link_to 'Find People', people_path
          %li
            = link_to 'Join a Team', teams_path
          - if current_user and current_user.admin?
            %li
              = link_to 'Admin', admin_path
        - if current_user
          %ul.nav.secondary-nav
            %li.dropdown
              = link_to current_user.name, '#', :class => "dropdown-toggle"
              %ul.dropdown-menu
                %li
                  = link_to "Settings", home_users_path, :id => 'user-setting'
                %li.divider
                %li
                  = link_to 'Sign Out', sign_out_path, :id => 'sign-out'
        - else
          %ul.nav.secondary.nav
            %li
              = link_to 'Sign In', sign_in_path

