<div id="header">
  <div class="wrapper">
    <div id="gc-logo">
      <%= link_to image_tag('logo-sash.png'), root_path %>
    </div>
    <ul id="main-nav">
      <li><%= link_to "Find People", people_path %></li>
      <li><%= link_to "Join a Team", teams_path %></li>
      <% if current_user and current_user.admin?%>
      <li><a href="/admin">Admin</a></li>
      <% end %>
    </ul>
    <div id="account-box">
      <% if user_signed_in? %>
        <%= image_tag current_user.avatar_url, :class => 'current-user-thumb' %>
        Heya <%= link_to current_user.name, current_user.person, :id => 'user-home' %>!
        <p><%= link_to 'Sign Out', sign_out_path, :id => 'sign-out' %> | <%= link_to "Settings", home_users_path, :id => 'user-setting' %></p>
      <% end %>
    </div>
  </div>
</div>
