<div id="content">
  <div id="title-main">
    <div id="app-image">
        <%= image_tag @team.app.photo.url, :id => 'app-photo', :class => 'main-visual' %>
    </div>
    <h1 class="app-name">  <%= @team.app.name %> </h1>
    <div class="title-content">
      <% unless @team.team_type == 'core' %>
        <h2><%=@team.region.city%>, <%=@team.region.state%></h2>
      <% end%>
      <h2>Organized by <% @team.team_members.where(:team_role => 'organizer').each do |organizer|%>
        <%=link_to organizer.user.person.name, organizer.user.person %>
        <%end%>
        </h2>
    </div></div>
    <div id="guide-side-bar">
      <%= render "shared/guide_sidebar"%>
    </div>
    <div id="guide-main-bar">
      <div id="step-detail">
      <%= form_for @step do |f| %>
      <ul>
        <li class="step-title">Edit This Step</li>
        <li class="step-desc"><p><%= f.label :name, "Name:" %><%= f.text_field :name %></p>
        <p><%= f.label :skill_list, "Required Skills:" %><br><%= f.text_field :skill_list, :input_html => {:class => 'tags'}%></p>
        <p><%= f.label :description, "Description" %><br /><%= f.text_area :description %></p>
        <p><%= f.label :milestone, "Milestone:" %><br><%= select "step", "parent_id", @team.app.milestones.collect {|x| [x.name, x.id]}%></p>
        <input name="team_name" value="<%=@team.name%>" type="hidden">
        </li>
      </ul>
              <%= f.submit :id => "guide_submit" %>
      <% end %>
      </div>
    </div>
</div>







