<div id="content">
  <div id="title-main">
    <div id="app-image">
        <%= image_tag @team.app.photo.url, :id => 'app-photo', :class => 'main-visual' %>
    </div>
    <h1 class="app-name">  <%= @team.app.name %> </h1>
    <div class="title-content">
      <% unless @team.team_type == 'core' %>
        <h2><%=@team.region.city%>, <%=@team.region.state%></h2>
      <% end%>
      <h2>Organized by <% @team.team_members.where(:team_role => 'organizer').each do |organizer|%>
        <%=link_to organizer.user.person.name, organizer.user.person %>
        <%end%>
        </h2>
    </div></div>
    <div id="guide-side-bar">
      <%= render "shared/guide_sidebar"%>
    </div>
    <div id="guide-main-bar">
      <%= form_for @step do |f| %>
        <p><%= f.label :name, "Name:" %><%= f.text_field :name %></p>
        <p><%= f.label :skill_list, "Required Skills:" %><br><%= f.text_field :skill_list, :input_html => {:class => 'tags'}%></p>
        <p><%= f.label :description, "Description" %><br><%= f.text_area :description %></p>
        <%= f.hidden_field :parent_id%>
        <input name="team_name" value="<%=@team.name%>" type="hidden">
        <%= f.submit %>
      <% end %>
    </div>
</div>

