<div id="content">
  <div id="title-main">
    <%= render "shared/app_header"%>
  </div>
    <div id="guide-side-bar">
      <%= render "shared/guide_sidebar"%>
    </div>
    <div id="guide-main-bar">    
      <div id="step-detail">
        <ul>
          <li class="step-title">Step <%= @step.position %>: <span><%= @step.name %></span><span class="detail-edit"><a href="#">EDIT</a></span></li>
          <li class="step-tags">Tags: <span>dev, design</span></li>
          <li class="step-time">Time budget: <span><%= @step.est_time %> minutes</span></li>
          <li class="step-desc"><%= @step.description %></li>
        </ul>
      </div>
    </div>
    
    
    
    
</div>

