<h1 class="app-name"><%= header.name %></h1>
<ul id="app-nav">
  <li><%= link_to 'Home', header %></li>
  <li><%= link_to 'People', people_app_path(header) %></li>
  <li><%= link_to 'Steps', steps_app_path(header) %></li>
  <li><%= link_to 'Repo', header.core_team.repo_url %></li>
  <% if @app.admin? current_user %>
    <li><%= link_to 'Admin', admin_app_path(header) %></li>
  <% end %>
</ul>
