<%= render :partial => 'header', :object => @app %>

<div id="content">
  <div id="main-bar">
    <%= form_for @app, :html => {:multipart => true} do |f| %>
      <div id="app-photo">
        <%= image_tag @app.photo.url %>
        <%= f.label :photo, 'Upload a new Photo' %>
        <%= f.file_field :photo %>
      </div>
<!---      <div id="app-video">
        <video src="<%%= @app.video.url %>" />
        <%%= f.label :video, 'Upload a new Video' %>
        <%%= f.file_field :video %>
      </div> --->
      <div id="app-name">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <br />
      <div id="app-description">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <br />
      <% unless @app.details.empty? %>
        <div id="app-details">
          Details:
          <div id="app-current-details">
            <% @app.details.each do |detail| %>
              <%= f.fields_for :details, detail do |details_form| %>
                <%= details_form.text_field :name %>
                <%= details_form.text_field :setting %>
              <% end %>
              <br />
            <% end %>
          </div>
        <% end %>
        Add a new Detail:
        <div id="app-new-detail">
          <%= f.fields_for :details, @app.details.build do |details_form| %>
            <%= details_form.label :name, 'What is the name of this detail?' %>
            <%= details_form.text_field :name %>
            <%= details_form.label :name, 'And what is its value?' %>
            <%= details_form.text_field :setting %>
          <% end %>
        </div>
      </div>
      <br />
      <div id="goals">
        <div class="goals banner">Goals:</div>
        <div class="goals details">
          <% @app.goals.each do |goal| %>
            <div class="goal">
              <%= f.fields_for :goals, goal do |goal_form| %>
                <%= goal_form.fields_for :heading, goal.heading do |heading_form| %>
                  <%= heading_form.label :content, 'Heading:' %>
                  <%= heading_form.text_field :content %>
                <% end %>
                <%= goal_form.fields_for :description, goal.description do |desc_form| %>
                  <%= desc_form.label :content, 'Description:' %>
                  <%= desc_form.text_area :content %>
                <% end %>
                <br />
                <div class="milestones">
                  <div class="milestones banner">Milestones:</div>
                  <div class="milestones details">
                    <% goal.milestones.each do |milestone| %>
                      <div class="milestone">
                        <%= goal_form.fields_for :milestones, milestone do |mile_form| %>
                          <%= mile_form.fields_for :heading, milestone.heading do |heading_form| %>
                            <%= heading_form.label :content, 'Heading:' %>
                            <%= heading_form.text_field :content %>
                          <% end %>
                          <%= mile_form.fields_for :description, milestone.description do |desc_form| %>
                            <%= desc_form.label :content, 'Description:' %>
                            <%= desc_form.text_area :content %>
                          <% end %>
                          <br />
                          <div class="steps">
                            <div class="steps banner">Steps:</div>
                            <div class="steps details">
                              <% milestone.steps.each do |step| %>
                                <div class="step">
                                  <%= mile_form.fields_for :steps, step do |step_form| %>
                                    <%= step_form.fields_for :heading, step.heading do |heading_form| %>
                                      <%= heading_form.label :content, 'Heading:' %>
                                      <%= heading_form.text_field :content %>
                                    <% end %>
                                    <%= step_form.fields_for :description, step.description do |desc_form| %>
                                      <%= desc_form.label :content, 'Description:' %>
                                      <%= desc_form.text_area :content %>
                                    <% end %>
                                  <% end %>
                                </div>
                                <br />
                              <% end %>
                            </div>
                            <br />
                            <div id="add-step">
                              <div class="add-step banner">Add a Step:</div>
                              <div class="add-step details">
                                <%= mile_form.fields_for :steps, Step.new do |step_form| %>
                                  <%= step_form.fields_for :heading, Heading.new do |heading_form| %>
                                    <%= heading_form.label :content, 'Heading:' %>
                                    <%= heading_form.text_field :content %>
                                  <% end %>
                                  <%= step_form.fields_for :description, Description.new do |desc_form| %>
                                    <%= desc_form.label :content, 'Description:' %>
                                    <%= desc_form.text_area :content %>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <br />
                <div id="add-milestone">
                  <div class="add-milestone banner">Add a Milestone:</div>
                  <div class="add-milestone details">
                    <%= goal_form.fields_for :milestones, Milestone.new do |mile_form| %>
                      <%= mile_form.fields_for :heading, Heading.new do |heading_form| %>
                        <%= heading_form.label :content, 'Heading:' %>
                        <%= heading_form.text_field :content %>
                      <% end %>
                      <%= mile_form.fields_for :description, Description.new do |desc_form| %>
                        <%= desc_form.label :content, 'Description:' %>
                        <%= desc_form.text_area :content %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <br />
        <div id="add-goal">
          <div class="add-goal banner">Add a Goal:</div>
          <div class="add-goal details">
            <% f.fields_for :goals, Goal.new do |goal_form| %>
              <%= goal_form.fields_for :heading, Heading.new do |heading_form| %>
                <%= heading_form.label :content, 'Heading:' %>
                <%= heading_form.text_field :content %>
              <% end %>
              <%= goal_form.fields_for :description, Description.new do |desc_form| %>
                <%= desc_form.label :content, 'Description:' %>
                <%= desc_form.text_area :content %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.submit 'Save' %>
    <% end %>
  </div>

  <div id="side-bar">
    <div id="main-side-bar-block">
      <h3 id="block-heading-wrapper">Table of Contents</h3>
      <ul>
        <% @app.goals.each do |goal| %>
          <li>
            <h4>
              <%= truncate(goal.title, :length => 12, :separator => ' ') %>
            </h4>
            <% unless goal.milestones.empty? %>
              <ol>
                <% goal.milestones.each do |milestone| %>
                  <li>
                    <h5>
                      <%= truncate(milestone.title, :length => 12, :separator => ' ') %>
                    </h5>
                    <% unless milestone.steps.empty? %>
                      <ol>
                        <% milestone.steps.each do |step| %>
                          <li>
                            <h6>
                              <%= truncate(step.title, :length => 12, :separator => ' ') %>
                            </h6>
                          </li>
                        <% end %>
                      </ol>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
