<p id="notice"><%= notice %></p>

<p>
  <b>App:</b>
  <%= @detail.app_id %>
</p>

<p>
  <b>Team:</b>
  <%= @detail.team_id %>
</p>

<p>
  <b>Name:</b>
  <%= @detail.name %>
</p>

<p>
  <b>Setting:</b>
  <%= @detail.setting %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
