<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      <% if page_title %>
        <%= page_title %>
      <% else %>
      <%= "#{SETTINGS['organization']['name']}: #{SETTINGS['organization']['city']}'s Tech Directory"%>
      <% end %>
    </title>
    <%= stylesheet_link_tag 'reset', 'geekcorps' %>
    <%= javascript_include_tag 'lib/jquery.min.js', 'lib/jquery-ujs', 
        'lib/underscore.js', 'lib/backbone.js', 'geekcorps.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul id='main_nav'>
          <li><%= link_to "People", people_path, :class => 'people'%></li>
          <li><%= link_to "Apps", apps_path, :class => 'apps'%></li>
        </ul>
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar_url if current_user.present? %>
          <div class="name">
            <%= link_to current_user.name, home_users_path %>
            <%= link_to 'sign out', sign_out_path%>
          </div>
        <% else %>
          <div id="global_sign_in">
            <%= link_to "Sign In / Join", sign_in_path, :id => 'sign_in_link' %>
          </div>
        <% end %>
      </div>

      <div class="main">
        <%= yield(:section_header) %>
        <%= render_flash %>
        <%= yield %>
      </div>

      <div id="footer"> 
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
        </ul>
        <p>
          Powered by <%= link_to "Citizenry", "http://github.com/reidab/citizenry/" %>.
        </p>
        <p>
          Created as Open Source by 
          <a href="#">Code for America</a>
          <q>For a more transparent, efficient, and participatory future.</q>
        </p>
        <a href="http://codeforamerica.org" class="footer-logo"><img src="/images/cfa-full-logo.png"></a> 
      </div>
    </div>
  </body>
</html>
