<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      <% if page_title %>
        <%= page_title %>
      <% else %>
      <%= "#{SETTINGS['organization']['name']}: #{SETTINGS['organization']['city']}'s Tech Directory"%>
      <% end %>
   </title>
    <%= stylesheet_link_tag 'reset', 'geekcorps' %>
    <%= javascript_include_tag 'lib/jquery.min.js', 'lib/jquery-ujs' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
      <%= render :partial => 'shared/header' %>
      <a id="feedback" href="http://getsatisfaction.com/geekcorps"></a>

      <div id="main" class="wrapper">
        <%= yield(:page_heading) %>
        <%= render_flash %>
        <%= yield %>
      </div>

      <%= render :partial => 'shared/footer' %>

  </body>
</html>
